
/* Загальні стилі */
.flex {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.ouch {
    width: 100%; /* Повна ширина для мобільних пристроїв */
    box-sizing: border-box;
    padding: 20px; /* Задайте власний відступ для елементів */
}

/* Адаптивні стилі */
@media screen and (min-width: 768px) {
    .ouch {
        width: 50%; /* Розділіть на дві колонки для екранів шириною 768 пікселів і більше */
    }
}

/* Опціонально можна додати додаткові правила для більших екранів */

/* Додайте інші стилі за необхідності */